body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.65;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-size: 20px;
}

.menu {
  background-color: #28AFE9;
  min-width: 20%;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  border-top: 1px solid #63C1EE;
}

.menu ul li a {
  font-size: 14px;
  display: block;
  color: #ffffff;
  padding: 1.1rem 1.5rem;
  width: 100%;
  text-decoration: none;
  border-top: 1px solid transparent;
}

.menu ul li a:hover {
  background-color: #0193DE;
  border-top: 1px solid #fff;
  color: #000 !important;
}

.container .up-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 20px;
}

.container .up-line img {
  width: 160px;
}

.container .up-line .contacts {
  text-align: right;
}

.container .up-line .contacts .phone {
  font-size: 26px;
}

header nav {
  background-color: #28AFE9;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  height: 100%;
  position: relative;
}

header nav ul li a {
  font-size: 14px;
  display: block;
  color: #ffffff;
  padding: 1.1rem 0;
  text-decoration: none !important;
}

header nav ul li a:hover {
  background-color: #0193DE;
  color: #000 !important;
}

header nav ul .icon1 {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../icon/nav-icon1.png") no-repeat center center;
  background-size: contain;
}

header nav ul .dropdown {
  position: absolute;
  display: inherit;
  top: 100%;
  min-width: 100%;
  background-color: #5EBEE7;
}

header nav ul .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul .dropdown ul li {
  width: 100%;
}

header nav ul .dropdown ul li a {
  text-align: left;
  font-size: 13px;
  padding: 0.6rem 1.5rem;
}

header nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 10px;
}

header nav .search input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 120px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  margin-right: 10px;
  font-size: 12px;
}

header nav .search button {
  width: 30px;
  height: 30px;
  background: url("../icons/search.png") no-repeat center center;
  background-size: contain;
  border: 0;
}

header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-main .titles {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: url("../img/bg-head.jpg") no-repeat top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 25px;
}

header .header-main .titles .block-title {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  color: #fff;
  border-radius: 5px;
}

header .header-main .titles .title-item-small {
  max-width: 300px;
  font-size: 15px;
  font-weight: 300;
}

header .header-main .titles .title-item-big {
  max-width: 400px;
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
}

.events a {
  color: #69C2EF;
  font-size: 15px;
}

.events .content {
  padding: 35px 0px 15px;
}

.events .content .events-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .content .events-title a {
  font-size: 13px;
  position: relative;
  margin-right: 20px;
}

.events .content .events-title a:before {
  content: '';
  width: 15px;
  height: 10px;
  position: absolute;
  background: url("../icons/arrow.png") no-repeat center center;
  background-size: contain;
  top: 7px;
  right: -20px;
}

.events .content .events-list {
  margin-top: 6px;
}

.events .content .events-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events .content .events-list .item img {
  width: 100%;
}

.events .content .events-list .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
}

.events .content .events-list .item .text a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.events .content .events-list .item .text a p {
  color: #000;
  font-size: 13px;
  line-height: 18px;
}

.events .content .events-list .item .text a:hover {
  text-decoration: none;
}

.events .content .events-list .item .text .publ-date {
  font-size: 12px;
  position: relative;
  display: block;
  margin-left: 25px;
  margin-top: 3px;
}

.events .content .events-list .item .text .publ-date:before {
  content: '';
  background: url("../icons/clock.png") no-repeat center center;
  background-size: contain;
  width: 15px;
  height: 15px;
  left: -25px;
  top: 1px;
  position: absolute;
}

.events .content .events-list .item .text .link {
  text-align: center;
  margin-top: 6px;
  color: #69C2EF;
}

.events .content .events-list .item .text .link a:hover {
  text-decoration: underline;
}

.events .content .events-list .item .text .link a {
  display: inline-block;
  position: relative;
  font-size: 13px;
}

.events .content .events-list .item .text .link a:before {
  content: '';
  width: 15px;
  height: 10px;
  position: absolute;
  background: url("../icons/arrow.png") no-repeat center center;
  background-size: contain;
  top: 7px;
  right: -20px;
}

.content .row {
  padding-bottom: 20px;
}

.content p {
  margin-bottom: 10px;
  line-height: 21px;
  font-size: 13px;
  padding-bottom: 13px;
}

.content .photo img {
  width: 100%;
}

footer .footer-menu {
  background-color: #DDDDDD;
}

footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-menu ul li {
  text-align: center;
  margin-left: 27px;
  height: 100%;
}

footer .footer-menu ul li a {
  font-size: 14px;
  padding: 1.1rem 1.1rem;
  display: block;
  color: #000;
}

footer .footer-menu ul li a:hover {
  background-color: #038CDB;
  text-decoration: none;
  color: #fff;
}

footer .footer-menu ul li:first-child {
  margin: 0;
}

footer .footer-contacts {
  font-size: 15px;
  line-height: 27px;
  padding-top: 20px;
}

footer .footer-contacts p {
  margin-bottom: 20px;
}

footer .map {
  padding-top: 20px;
}

footer .map img {
  width: 100%;
}

footer .footer-down {
  font-size: 13px;
  padding: 15px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */