$bg-header: #28AFE9
    
body
    font-family: 'Roboto', sans-serif
    letter-spacing: 0.5px
    line-height: 1.65
    font-weight: 300

ul 
    list-style: none
    margin: 0
p 
    margin: 0

h2 
    font-size: 20px

.dropdown-link:after
    display: inline-block
    margin-left: .255em
    content: ""
    background: url('../icons/arrow-down-white.png') no-repeat center center
    background-size: contain
    width: 10px
    height: 10px
    margin-top: -5px
    margin-left: 10px

.dropdown-link:hover:after
    background: url('../icons/arrow-down-blck2.png') no-repeat center center
    background-size: contain

.menu
    background-color: $bg-header
    min-width: 20%
    ul
        padding: 0
        li 
            border-top: 1px solid #63C1EE
            a
                font-size: 14px
                display: block
                color: #ffffff
                padding: 1.1rem 1.5rem
                width: 100%
                text-decoration: none
                border-top: 1px solid transparent
            a:hover 
                background-color: #0193DE
                border-top: 1px solid #fff
                color: #000 !important

.container 
    .up-line
        display: flex
        justify-content: space-between
        max-width: 1170px
        margin-top: 10px
        margin-bottom: 15px
        padding: 0 20px
        img
            width: 160px
        .contacts
            text-align: right
            .phone 
                font-size: 26px
            .emali
header
    nav
        background-color: $bg-header
        ul 
            display: flex
            justify-content: space-between
            padding-left: 20px
            padding-right: 20px
            align-items: center
            li
                flex-grow: 1
                text-align: center
                height: 100%
                position: relative
                a
                    font-size: 14px
                    display: block
                    color: #ffffff
                    padding: 1.1rem 0
                    text-decoration: none !important
                    position: relative
                    
                a:hover 
                    background-color: #0193DE
                    color: #000 !important
            .icon1 
                display: block
                width: 40px
                height: 40px
                background: url('../icon/nav-icon1.png') no-repeat center center
                background-size: contain
            .dropdown
                position: absolute
                display: inherit
                top: 100%
                min-width: 100%
                background-color: #5EBEE7
                ul 
                    display: flex
                    flex-direction: column
                    li 
                        width: 100%
                        border-top: 1px solid #32B0E7
                        a
                            text-align: left
                            font-size: 13px
                            padding: 0.6rem 1.5rem
        .search
            display: flex
            align-items: center
            justify-content: center
            flex-grow: 0
            padding-left: 10px
            input 
                font-family: 'Roboto', sans-serif
                font-weight: 300
                width: 120px
                border: 0
                border-radius: 5px
                text-align: center
                height: 30px
                margin-right: 10px
                font-size: 12px
            button
                width: 30px
                height: 30px
                background: url('../icons/search.png') no-repeat center center
                background-size: contain
                border: 0
    .header-main 
        display: flex
        justify-content: flex-end
        .titles 
            flex-grow: 1
            background: url('../img/bg-head.jpg') no-repeat top center
            background-size: cover
            display: flex
            flex-direction: column
            align-items: flex-end
            justify-content: space-between
            padding-top: 20px
            padding-bottom: 50px
            padding-right: 25px
            .block-title
                background-color: rgba(0, 0, 0, 0.4)
                padding: 15px 30px
                color: #fff
                border-radius: 5px
            .title-item-small
                max-width: 307px
                font-size: 15px
                font-weight: 300
            .title-item-big
                max-width: 400px
                font-size: 19px
                font-weight: 300
                line-height: 26px
.events
    a 
        color: #69C2EF
        font-size: 15px
    .content
        padding: 35px 0px 15px
        .events-title 
            display: flex
            justify-content: space-between
            a
                font-size: 13px
                position: relative
                margin-right: 20px
                &:before
                    content: ''
                    width: 15px
                    height: 10px
                    position: absolute
                    background: url('../icons/arrow.png') no-repeat center center
                    background-size: contain
                    top: 7px
                    right: -20px
            
        .events-list
            margin-top: 6px
            .item
                display: flex
                flex-direction: column
                img 
                    width: 100%
                .text 
                    display: flex
                    flex-direction: column
                    flex-grow: 1
                    padding: 15px
                    a
                        flex-grow: 1
                        p 
                            color: #000
                            font-size: 13px
                            line-height: 18px
                        &:hover
                            text-decoration: none
                                
                    .publ-date 
                        font-size: 12px
                        position: relative
                        display: block
                        margin-left: 25px
                        margin-top: 3px
                        &:before
                            content: ''
                            background: url('../icons/clock.png') no-repeat center center
                            background-size: contain
                            width: 15px
                            height: 15px
                            left: -25px
                            top: 1px
                            position: absolute
                    .link 
                        text-align: center
                        margin-top: 6px
                        color: #69C2EF
                        a:hover
                            text-decoration: underline
                        a
                            display: inline-block
                            position: relative
                            font-size: 13px
                            &:before
                                content: ''
                                width: 15px
                                height: 10px
                                position: absolute
                                background: url('../icons/arrow.png') no-repeat center center
                                background-size: contain
                                top: 7px
                                right: -20px
.content 
    .row
        padding-bottom: 20px
    p 
        margin-bottom: 10px
        line-height: 21px
        font-size: 13px
        padding-bottom: 13px
    .photo 
        img 
            width: 100%
footer 
    .footer-menu 
        background-color: #DDDDDD
        ul 
            display: flex
            justify-content: center
            li
                text-align: center
                margin-left: 27px
                height: 100%
                a 
                    font-size: 14px
                    padding: 1.1rem 1.1rem
                    display: block
                    color: #000
                    &:hover 
                        background-color: #038CDB
                        text-decoration: none
                        color: #fff
            li:first-child 
                margin: 0
    .footer-contacts
        font-size: 15px
        line-height: 27px
        padding-top: 20px
        p 
            margin-bottom: 20px
    .map 
        padding-top: 20px
        img 
            width: 100%
    .footer-down 
        font-size: 13px
        padding: 15px
        text-align: center
                                
                            

                
            




